<% provide(:title, 'About us') %>
<h1>About Us</h1>
<p>
  This is the home page for the <%= yield(:title) %> a
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>